@model RevenueCash.Models.Juego.Game
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
    @section header
    {
        <div class="header">
            <div class="content">
                <div class="puntaje">@Model.Score</div>

            </div>
        </div>
    }
    @Html.Partial("Partial/Tablero", Model.Board);

