@model RevenueCash.Models.Piezas.Celda

<div class="celda">
    @if (Model.Ficha != null)
    {
        if (Model.Ficha.Color == RevenueCash.Models.Piezas.ColorFicha.Rojo)
        {
            <img src="~/imagenes/FichaRojo_1.png" />
        }
        if (Model.Ficha.Color == RevenueCash.Models.Piezas.ColorFicha.Amarillo)
        {
            <img src="~/imagenes/FichaAmarilla_4.png" />
        }
        if (Model.Ficha.Color == RevenueCash.Models.Piezas.ColorFicha.Verde)
        {
            <img src="~/imagenes/FichaVerde_3.png" />
        }
        if (Model.Ficha.Color == RevenueCash.Models.Piezas.ColorFicha.Azul)
        {
            <img src="~/imagenes/FichaAzul_2.png" />
        }
    }
</div>