
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h1 class="levelFinished">Welcome to RevenueCash</h1>
<div class="container">
    <div class="btn">
        <span class="nextLevel">@Html.ActionLink("Nuevo Juego", "Nuevo")</span>
        <div class="dot"></div>
    </div>
</div>
