@model RevenueCash.Models.Piezas.FichaDisparo

<div class="celdaDisparo">
    <a href="@Url.Action("Disparar", "Juego", new { desdeDonde = Model.DesdeDonde, Indice = Model.Indice})">
        <div class="celdaVacia">
            @if (Model.Color == RevenueCash.Models.Piezas.ColorFicha.Rojo)
            {
                <img src="~/imagenes/FichaRojo_1.png" />
            }
            @if (Model.Color == RevenueCash.Models.Piezas.ColorFicha.Amarillo)
            {
                <img src="~/imagenes/FichaAmarilla_4.png" />
            }
            @if (Model.Color == RevenueCash.Models.Piezas.ColorFicha.Verde)
            {
                <img src="~/imagenes/FichaVerde_3.png" />
            }
            @if (Model.Color == RevenueCash.Models.Piezas.ColorFicha.Azul)
            {
                <img src="~/imagenes/FichaAzul_2.png" />
            }
        </div>
    </a>
</div>