:root {
    --bg: #3C465C;
    --primary: #78FFCD;
    --solid: #fff;
    --btn-w: 15em;
    --dot-w: calc(var(--btn-w)*.2);
    --tr-X: calc(var(--btn-w) - var(--dot-w));
}

* {
    box-sizing: border-box;
}

    *:before, *:after {
        box-sizing: border-box;
    }

body{
    background-image: url("/imagenes/background.jpg");
    background-size: cover;
}
.maindiv{
    height:100vh;
    width:100vw;
}
.title{
    font-family: 'Dancing Script', cursive;
    font-size:36pt;
    font-style: normal;
    text-align: center;
    color: red;
    margin: 15px;
}
.tablero {
    display: inline-block;
    height: 576px;
    width: 576px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 40px;
}
.fila{
    overflow:hidden;
}
.celda, .celdaVacia{
    width: 34px;
    height: 34px;
    float: left;
    padding: 7px;
}
.celda {
    background-image: url("/imagenes/CeldaVacia.png");
}
.header{
    margin:30px;
    display: inline-block;

}
.header .content {
    width: 400px;
    margin: 0 auto;
}

.header .content{
    font-size: 24px;
    color: white;   
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    padding-bottom: 500px;
}
.puntaje {
    width: 240px;
}
.puntajeNivel {
    width: 100px;
}

.tablaPuntaje {
    height: 1px;
    padding: 10px 15px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 25px;
}

.titlePuntaje {
    padding: 5px;
}

.titlePuntajeVacio{
    width: 10px;
}
.levelFinished {
    color: #00ff95;
    position: relative;
    margin: 10px auto;
    padding-top: 150px;
    font-size: 80px;
    width: 6em;
}
.nextLevel {
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    font-size: 16pt;
    font-style: normal;
    text-align: center;
    color: red;
    margin: 15px;
}



.btn {
    position: relative;
    margin: 0 auto;
    width: var(--btn-w);
    color: var(--primary);
    border: .15em solid var(--primary);
    background-color: rgba(255,255,255,0.5);
    border-radius: 5em;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.3em;
    line-height: 2em;
    cursor: pointer;
}

.dot {
    content: '';
    position: absolute;
    top: 0;
    width: var(--dot-w);
    height: 100%;
    border-radius: 100%;
    transition: all 300ms ease;
    display: none;
}

.dot:after {
    content: '';
    position: absolute;
    left: calc(50% - .4em);
    top: -.4em;
    height: .8em;
    width: .8em;
    background: var(--primary);
    border-radius: 1em;
    border: .25em solid var(--solid);
    box-shadow: 0 0 .7em var(--solid), 0 0 2em var(--primary);
}

.btn:hover .dot,
.btn:focus .dot {
    animation: atom 2s infinite linear;
    display: block;
}

@keyframes atom {
    0% { transform: translateX(0) rotate(0);}
    30% { transform: translateX(var(--tr-X)) rotate(0);}
    50% { transform: translateX(var(--tr-X)) rotate(180deg);  }
    80% { transform: translateX(0) rotate(180deg); }
    100% { transform: translateX(0) rotate(360deg);}
}
